@{
    ViewData["Title"] = "Home Page";
}
<style>
    .amblem-container {
        text-align: center; /* İçeriği yatayda ortala */
    }

    .amblem {
        max-width: 100%;
        max-height: 100%;
        width: 2000px; 
        height: auto;
       
        margin: 0 auto; /* Dikeyde ve yatayda ortala */
    }

</style>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Kütüphane</h1>
       
            <div class="amblem-container">
                <img src="~/images/home.jpg" alt="Amblem Adı" class="amblem" />
            </div>


      </div>
    </div>
  </section>
